.two-columns__paragraphs {
  max-width: 420px;
  margin: 0 0 70px 80px;
}

@media screen and (max-width:1030px) {
  .two-columns__paragraphs {
    margin: 0 0 40px 40px;
  }
}

@media screen and (max-width:955px) {
  .two-columns__paragraphs {
    margin: 0 0 16px 16px;
  }
}

@media screen and (max-width:473px) {
  .two-columns__paragraphs {
    margin: 40px 15px 20px;
  }
}