.header__menu-item {
  margin-right: 45px;
}

.header__menu-item:last-of-type {
  margin-right: 0;
  margin-left: auto;
}

@media screen and (max-width: 465px) {
  .header__menu-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header__menu-item:last-of-type {
    margin-left: 0;
    margin-bottom: 0;
  }
}
