.header__menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 563px) {
  .header__menu {
    flex-direction: column;
    padding: 10px;
  }
}
