.two-columns__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}

@media screen and (max-width:563px) {
  .two-columns__row {
    display: flex;
    flex-direction: column;
  }
}