.two-columns__heading {
  margin: 70px 0 0 80px;
  font-size: 37px;
  font-weight: 700;
}

@media screen and (max-width:1030px) {
  .two-columns__heading {
    margin: 70px 0 0 40px;
  }
}

@media screen and (max-width:955px) {
  .two-columns__heading {
    font-size: 30px;
    margin: 40px 0 0 20px;
  }
}

@media screen and (max-width:563px) {
  .two-columns__heading {
    font-size: 26px;
    margin: 16px 0 0 16px;
  }
}

@media screen and (max-width:473px) {
  .two-columns__heading {
    margin: 40px 0 0 15px;
    font-size: 24px;
  }
}